body{

    margin:0;

    font-family:Verdana, Geneva, Tahoma, sans-serif;

    background:#d9f7ff;

    display:flex;

    justify-content:center;

    align-items:center;

    height:100vh;

}

.tarjeta{

    width:380px;

    background:white;

    padding:30px;

    border-radius:18px;

    text-align:center;

    box-shadow:0px 8px 20px rgba(0,0,0,.15);

}

h1{

    color:#0077b6;

}

select{

    width:95%;

    padding:10px;

    margin:20px 0;

    border-radius:10px;

}

.acciones{

    display:flex;

    justify-content:space-between;

}

button{

    border:none;

    padding:10px 15px;

    border-radius:8px;

    cursor:pointer;

    color:white;

}

#btnGuardar{

    background:#2e7d32;

}

#btnLeer{

    background:#1565c0;

}

#btnEliminar{

    background:#c62828;

}

#resultado{

    margin-top:25px;

    color:#444;

}